<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
    <title>CARIN</title>
    <meta charset="UTF-8" />
    <link rel="apple-touch-icon" href="/built/images/gameIcon.png" />
    <link rel="icon" type="image/png" href="/built/images/pfizer.png">
    <link rel="manifest" href="/built/manifest.webmanifest" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta name="apple-mobile-web-app-title" content="CARIN" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
</head>

<body>
    <div id="react"></div>
    <script src="built/bundle.js"></script>
</body>

</html>