<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="manifest" href="/built/manifest.webmanifest" />
    <mata name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta charset="UTF-8" />
    <title>CARIN</title>
</head>

<body>
    <div id="react"></div>
    <script src="built/bundle.js"></script>
</body>

</html>