.Bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-image: url("./images/bar.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 94%;
    height: 11.5%;
    padding-top: 0.25%;
    padding-bottom: 0.25%;
    padding-left: 3%;
    padding-right: 3%;
}

.Bar .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    height: 100%;
}

.Bar .left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.Bar .left > * + * {
    margin-left: 2%;
}

.Bar .right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.Bar .right > * + * {
    margin-left: 2%;
}

.Bar .antibodyCreditIcon {
    width: 2.5vw;
    height: 8.9vh;
}

.Bar .antibodyCredit {
    font-family: Short Stack;
    font-style: normal;
    font-weight: normal;
    font-size: 7vh;
    line-height: 89px;
}

.Bar .shopButton {
    width: 4.1vw;
    height: 9.26vh;
}

.decreaseSpdButton {
    width: 4.4vw;
    height: 7.3vh;
}

.increaseSpdButton {
    width: 4.4vw;
    height: 7.3vh;
}

.pauseButton {
    width: 4.4vw;
    height: 7.3vh;
}

.resumeButton {
    width: 4.4vw;
    height: 7.3vh;
}

.replayButton {
    width: 4.4vw;
    height: 7.3vh;
}