@font-face {
    font-family: Short Stack;
    src: url('./fonts/ShortStack-Regular.ttf');
}

#Bar {
    position: absolute;
    width: 1920px;
    height: 120px;
    left: 0px;
    top: 0px;
}

#bar {
    position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
}

#antibodyCreditIcon {
    position: absolute;
    left: 4.95%;
    right: 92.55%;
    top: 2.5%;
    bottom: 17.5%;
}

#antibodyCreditText {
    font-family: Short Stack;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 89px;
    position: absolute;
    left: 8.33%;
    right: 80.31%;
    top: 15%;
    bottom: 17.5%;
}

#shopButton {
    position: absolute;
    left: 26.35%;
    right: 69.53%;
    top: 5.83%;
    bottom: 10.83%;
}

#decreaseSpdButton {
    position: absolute; 
    left: 62.08%;
    right: 33.49%;
    top: 20%;
    bottom: 15%;
}

#increaseSpdButton {
    position: absolute;
    left: 82.19%;
    right: 13.49%;
    top: 20.83%;
    bottom: 15%;
}

#pauseButton {
    position: absolute;
    left: 72.14%;
    right: 23.44%;
    top: 19.17%;
    bottom: 15%;
}

#playButton {
    position: absolute;
    left: 72.14%;
    right: 23.44%;
    top: 19.17%;
    bottom: 15%;
}

#replayButton {
position: absolute;
left: 92.14%;
right: 3.44%;
top: 19.17%;
bottom: 15%;
}