table {
    position: relative;
    border-spacing: 0px;
    border: 0px;
    margin: 0px;
    padding: 0px;
    left: 0px;
    top: 0px;
    transform-origin: top left;
}

#canvas {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
}

td {
    padding: 0%;
}