.gameplay {
    width: 100%;
    height: 100%;
}

.gameplay .win {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65.62%;
    height: 66.67%;
    animation-name: win;
    animation-duration: 1.5s;
}

@keyframes win {
    0% {
        width: 0%;
        height: 0%;
    }
    100% {
        width: 65.62%;
        height: 66.67%;
    }
}

.gameplay .lose {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 66.67%;
    height: 74.07%;
    animation-name: lose;
    animation-duration: 1.5s;
}

@keyframes lose {
    0% {
        width: 0%;
        height: 0%;
    }
    100% {
        width: 66.67%;
        height: 74.07%;
    }
}