.home{
    height: 100%;
    width: 100%;
    background-image: url("./images/BG.png");
}

.home .clickme {
    position: absolute;
    top: 68.52vh;
    left: 33.96vw;
    font-size: 6.67vh;
    color: #fff;
    font-family: Short Stack;
    animation-name: clickme;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    transform-origin: center;
}

@keyframes clickme {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.75);
    }
    100% {
        transform: scale(1);
    }
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.center-p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 47%;
    width: 48%;
}


.underline{
    text-decoration: none;
}