@font-face {
    font-family: Short Stack;
    src: url('./fonts/ShortStack-Regular.ttf');
}

.setupPage {
    text-align: center;
    background: url("./images/BG.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.setupMidField {
    width: 47%;
    height: 79%;
}

h1 {
    font-family: Short Stack;
    font-weight: normal;
    font-size: 7vh;
    line-height: 1;
    color: aliceblue;
}

.organismPortrait {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("./images/bgSetAnti 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 16vw;
    height: 16vw;
    transition: transform 0.2s;
}

a > .organismPortrait:hover {
    transform: scale(1.15);
    background: url("./images/bgSetAnti 2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.organismPortrait img {
    width: 15vh;
    height: 15vh;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.playButton {
    position: absolute;
    width: 13%;
    height: 14%;
    right: 5%;
    bottom: 7%;
    cursor: pointer;
}